<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image"> <img src="/html/assets/images/xs/avatar2.jpg" width="48" height="48" alt="User" /> </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Buse Yeşil</div>
            <div class="email">Admin Paneli</div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">Menü</li>

            <li><a href="/Dashboard/Index/"><i class="zmdi zmdi-grid"></i><span>Dashboard</span> </a></li>
            <li><a href="/Category/CategoryList/"><i class="zmdi zmdi-delicious"></i><span>Kategoriler</span> </a></li>
            <li><a href="/Product/ProductList/"><i class="zmdi zmdi-coffee"></i><span>Ürünler</span> </a></li>
            <li><a href="/Customer/CustomerList/"><i class="zmdi zmdi-accounts"></i><span>Müşteriler</span> </a></li>
            <li><a href="/Order/OrderList/"><i class="zmdi zmdi-shopping-basket"></i><span>Siparişler</span> </a></li>
            <li><a href="/Statistics/Index/"><i class="zmdi zmdi-chart"></i><span>Sayısal İstatistkler</span> </a></li>
            <li><a href="/Statistics/TextualStatistics/"><i class="zmdi zmdi-input-svideo"></i><span>Metinsel İstatistkler</span> </a></li>
            <li><a href="/Review/ReviewList/"><i class="zmdi zmdi-comment-edit"></i><span>Değerlendirmeler</span> </a></li>
            <li><a href="/Forecast/PaymentMethodForecast/"><i class="zmdi zmdi-spinner"></i><span>Ödeme Yöntemleri Tahminleri</span> </a></li>
            <li><a href="/Forecast/GermanyCitiesForecast/"><i class="zmdi zmdi-city"></i><span>Almanya Sipariş Tahminleri</span> </a></li>
            <li><a href="/CustomerAnalytics/Index/"><i class="zmdi zmdi-flower-alt"></i><span>Müşteri Analitiği</span> </a></li>
            <li><a href="/CustomerLoyalty/ItalyLoyaltyScore/"><i class="zmdi zmdi-globe"></i><span>Sadakat Oranları</span> </a></li>
            <li><a href="/CustomerLoyalty/ItalyLoyaltyScoreWithML/"><i class="zmdi zmdi-boat"></i><span>ML Sadakat Tahminleri</span> </a></li>
            <li><a href="/Message/MessageList/"><i class="zmdi zmdi-text-format"></i><span>Mesaj Listesi</span> </a></li>
            <li><a href="/CustomerAnalytics/Index"><i class="zmdi zmdi-ticket-star"></i><span>Bireysel Müşteri Analizi</span> </a></li>


        </ul>
    </div>
    <!-- #Menu -->
</aside>